<form method="post">
  <table width="70%" border="0" align="center" cellpadding="1" cellspacing="1" bgcolor="#E6F6D9">
    <tr bgcolor="#D7F2C5">
      <td colspan="2" bgcolor="#D7F2C5">
        <div align="center" class="style4"> ĐĂNG KÝ</div>
      </td>
    </tr>
    <tr>
      <td width="28%">
        <p class="style7">&nbsp;name: </p>
      </td>
      <td width="72%"><label>
          <input name="name" type="text" id="ten_dn" size="35">
        </label></td>
    </tr>
    <tr>
      <td>
        <p class="style7">&nbsp;description:</p>
      </td>
      <td><label>
          <input name="description" type="text" id="mat_khau">
        </label></td>
    </tr>
    <tr>
      <td><span class="style7">&nbsp;stock:</span></td>
      <td><input name="stock" type="number" id="mat_khau1"></td>
    </tr>
    <tr>
      <td>
        <p class="style7">&nbsp;price </p>
      </td>
      <td><label>
          <input name="price" type="number" id="ho_ten" size="35">
        </label></td>
    </tr>

    <tr>
      <td height="35" colspan="2">
        <p align="center">
          <label>
            <input type="submit" name="Submit" value="Đăng ký">
          </label>
        </p>
      </td>
    </tr>
  </table>
</form>